[submodule ".vim/bundle/LaTeX-Box"]
	path = .vim/bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp-vim"]
	path = .vim/bundle/ctrlp-vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/livedown"]
	path = .vim/bundle/livedown
	url = https://github.com/shime/vim-livedown.git
[submodule ".vim/bundle/gpg"]
	path = .vim/bundle/gpg
	url = https://github.com/jamessan/vim-gnupg
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/.vim/bundle/typescript-vim"]
	path = .vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/vim-ledger"]
	path = .vim/bundle/vim-ledger
	url = git@github.com:ledger/vim-ledger.git
